<!DOCTYPE html>
<html ng-app="TreasureboxApp">
<head>
  <title>TreasureboxApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "sites/navbar" %>
  
  <% if notice %>
    <p class="alert alert-success alert-dissmissable"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-hidden="ture">&times;</button></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-info alert-dissmissable"><%= alert %><button type="button" class="close" data-dismiss="alert" aria-hidden="ture">&times;</button></p>
  <% end %>

<%= yield %>

</body>
</html>
